<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active" aria-current="page" style="background-color: #5C1D22;">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('create_story') }}" class="nav-link">Create Story</a></li>
      <li class="nav-item"><a href="{{ url_for('get_samples') }}" class="nav-link">View Samples</a></li>
    </ul>
  </header>
</div>